<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css"/>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img class="user-icon" src="https://api.dicebear.com/7.x/avataaars/svg?seed=mnbv" alt="Avatar de usuario">

            <h2>Iniciar Sesion</h2>
            <form id="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" id="username" required><br>
        
                <label for="password">Contraseña:</label>
                <input type="password" id="password" required><br>
        
                <button type="submit">Login</button>
            </form>
        </div>
    </div>


 <script type="module" src="../js/login.js"></script>
</body>
</html>